<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/genericStyles.css">
    <link rel="stylesheet" href="styles/dark-mode.css">
    <script src="https://kit.fontawesome.com/629067d246.js" crossorigin="anonymous"></script>
    <title>sanjustin.xyz</title>
</head>

<body class="bg-light">
    <!--Jumbotron START-->
    <div class="jumbotron jumbotron-fluid bg-light">
        <div class="container">
            <h1 class="display-4">Home</h1>
            <!--Navbar START-->
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <a class="navbar-brand" href="index.html">San Justin</a>
                <!--Burger Menu START-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Burger Menu END-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navDropMenuProjects"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Projects
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navDropMenuProjects">
                                <a class="dropdown-item" href="#">Past Projects</a>
                                <a class="dropdown-item" href="#">Current Projects</a>
                                <a class="dropdown-item" href="#">Unfinished Projects</a>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Ambitions <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" href="#" id="navDropMenuDesigns"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                gallery
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navDropMenuDesigns">
                                <a class="dropdown-item" href="#">Photography</a>
                                <a class="dropdown-item" href="#">Designs</a>
                                <a class="dropdown-item" href="#">Something Cool</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                        </div>
                    </ul>
                </div>
            </nav>
            <!--Navbar END-->
            <br>
            <p class="lead">
                2022 Resolutions
            </p>
            <table class="table">
                <thead>
                    <th scope="col">GOAL</th>
                    <th scope="col">COMPLETE?</th>
                    <th scope="col">DATE OF COMPLETIONS</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Learn React Framework</td>
                        <td>❌</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Learn Python3 Networking</td>
                        <td>❌</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Complete e-commerce project</td>
                        <td>❌</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
    <!--Jumbotron END-->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="scripts/libraries/t.js/t.min.js"></script>
    <script src="scripts/libraries/dark-mode-bootstrap/dark-mode-switch.min.js"></script>
    <script src="scripts/genericFunctions.js"></script>
    <footer>sanjustin &copy;</footer>
</body>

</html>